extends layout
block content
  div(class='col-6')
    h1(id='calender-title')
    table(id='calendar', class='table table-bordered')
      thead 
        tr 
          th Sun
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
          th Sat
  div(class='col-6')
    form
      div(class='form-group')
        label Search Year
        input(type='number', id='searchYear', name='searchYear', class='form-control')
        br
      div(class='form-group') 
        input(type='submit', class='btn btn-primary')
      br  
    table(id='lichphungvuTable', class='table table-bordered')