extends layout
block content
  div(class='row')
    div(class='col-12', id='divCalendar')
  
  form
    div(class='row')
      div(class='form-group col-1')
        label Search Year 
      div(class='form-group col-2')
        input(type='number', id='searchYear', name='searchYear', class='form-control')
      div(class='form-group col-2') 
        input(type='submit', class='btn btn-primary')
  hr       
  div(class='row justify-content-md-center')          
    div(class='col-12')
      table(id='lichphungvuTable', class='table table-bordered')