doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
    script(src='/javascripts/jquery/jquery-3.5.1.min.js')
    //- script(src='/javascripts/main.js', type="module")
    script(src='/javascripts/libs/vuejs/vue.js')
    script(src='/javascripts/app.js', type="module")
  body
    block content
